<h1>Join a pool!</h1>

<form ng-submit="searchRoute(source,destination)">
    <div class="row">
        <div class="span4"><p>Where are you leaving from ?</p>
            <input google-map-suggest ng-model="source" type="text" size="50"/>
        </div>
        <div class="span4"><p>Whats your destination ?</p>
            <input google-map-suggest ng-model="destination" type="text" size="50"/>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <button id="submit" type="submit" class="btn btn-success">Search</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="span12" id="searchResult">
        <h3> {{ message }} </h3>
    </div>
</div>

