<div class="row">
    <div class="row">
        <div class="span12 text-center">
            <h3>Welcome to PowerPool!</h3>
        </div>
    </div>
    <div class="row">
        <div class="span6 text-center">
            <a href="#/pool/new"><img src="img/car.png" height="256" width="256" title="Post a new carpool!"></a>
        </div>
        <div class="span6 text-center">
            <a class="text-center" href="#/pool/join"><img src="img/hitch.png" height="256" width="256" title="Hitch a ride!"></a>
        </div>
    </div>
</div>