<h1>Pool</h1>

<div class="row">
  <div class="span4"><p>Where are you leaving from ?</p>
    <input google-map-suggest type="text" size="50"/>
  </div>
  <div class="span4"><p>Whats your destination ?</p>
    <input google-map-suggest type="text" size="50"/>
  </div>
</div>
<div class="row">
  <div class="span4">
    <button id="submit" type="submit" size="50" class="btn">Submit</button>
  </div>
</div>


<h2>People are travelling to these locations:</h2>

<div class="row">
  <div class="span12" id="messagesDiv"></div>
</div>

